@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  /* Fondo general blanco */
  --background: #ffffff;
  /* Texto principal casi negro */
  --foreground: #171717;
  
  /* Color primario: Negro total o gris muy oscuro */
  --primary: #000000;
  --primary-foreground: #ffffff;
  
  /* Muted para fondos secundarios (tarjetas, estados hover) */
  --muted: #f4f4f5; /* zinc-100 */
  --muted-foreground: #71717a; /* zinc-500 */
  
  /* Bordes suaves */
  --border: #e4e4e7; /* zinc-200 */
  --input: #e4e4e7;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Fondo oscuro puro o gris super oscuro */
    --background: #09090b; /* zinc-950 */
    --foreground: #fafafa; /* zinc-50 */
    
    --primary: #ffffff;
    --primary-foreground: #09090b;
    
    --muted: #27272a; /* zinc-800 */
    --muted-foreground: #a1a1aa; /* zinc-400 */
    
    --border: #27272a;
    --input: #27272a;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

